<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.kehao.netctoss.dao.AdminInfoMapper" >
  <resultMap id="BaseResultMap" type="org.kehao.netctoss.model.AdminInfo" >
    <id column="ADMIN_ID" property="adminId" jdbcType="DECIMAL" />
    <result column="ADMIN_CODE" property="adminCode" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="ENROLLDATE" property="enrolldate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ADMIN_ID, ADMIN_CODE, PASSWORD, NAME, TELEPHONE, EMAIL, ENROLLDATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ADMIN_INFO
    where ADMIN_ID = #{adminId,jdbcType=DECIMAL}
  </select>
  
  <select id="selectByAdminCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ADMIN_INFO
    where ADMIN_CODE = #{adminCode,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ADMIN_INFO
    where ADMIN_ID = #{adminId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="org.kehao.netctoss.model.AdminInfo" >
    insert into ADMIN_INFO (ADMIN_ID, ADMIN_CODE, PASSWORD, 
      NAME, TELEPHONE, EMAIL, 
      ENROLLDATE)
    values (#{adminId,jdbcType=DECIMAL}, #{adminCode,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{enrolldate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.kehao.netctoss.model.AdminInfo" >
    insert into ADMIN_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        ADMIN_ID,
      </if>
      <if test="adminCode != null" >
        ADMIN_CODE,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="enrolldate != null" >
        ENROLLDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminId != null" >
        #{adminId,jdbcType=DECIMAL},
      </if>
      <if test="adminCode != null" >
        #{adminCode,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="enrolldate != null" >
        #{enrolldate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.kehao.netctoss.model.AdminInfo" >
    update ADMIN_INFO
    <set >
      <if test="adminCode != null" >
        ADMIN_CODE = #{adminCode,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="enrolldate != null" >
        ENROLLDATE = #{enrolldate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ADMIN_ID = #{adminId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.kehao.netctoss.model.AdminInfo" >
    update ADMIN_INFO
    set ADMIN_CODE = #{adminCode,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ENROLLDATE = #{enrolldate,jdbcType=TIMESTAMP}
    where ADMIN_ID = #{adminId,jdbcType=DECIMAL}
  </update>
  <select id="selectAdminInfoByPage" resultMap="BaseResultMap" >
  	select <include refid="Base_Column_List" /> from (
  		select rownum rn,a.* from (
  			select <include refid="Base_Column_List" /> from admin_info
  		)a order by admin_id
  	) where rn between #{0} and #{1}
  </select>
  <select id="selectAdminInfoCount" resultType="int">
  	select count(*) from admin_info
  </select>
</mapper>